.border-play-btn{
    pointer-events: none;
    opacity: 0;
    transition-duration: 0.5s;
    bottom: -50px;
}

.border-play-btn path{
    stroke: var(--yellow-green);
    fill: none;
}

.background-play-btn, .border-play-btn{
    position: absolute;
}

.background-play-btn path{
    
}

.play-btn:hover .border-play-btn{
    opacity: 1;
    bottom:0px;
}