@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

:root {
    --maximum-green: #61892f;
    --yellow-green: #86c232;
    --black: #222629ff;
    --white: #f3eff5;
    --gray: #6c6f6fff;
}

ul{
    padding: 0px;
    list-style: none;
}

html, body, #root {
    
    min-width: 100%;
    min-height: 100%;

    margin: 0px;
    font-size: 24px;
}

body{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;

    color: var(--white);
    background-color: var(--black);
}

.layout{
    min-width: 100%;
    min-height: 100%;
    display: grid;
    grid-template: minmax(100px, auto) 1fr minmax(100px, auto)/1fr;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

.header{
    grid-area: header;
}
.main{
    width: 100%;
    height: 100%;
    min-height: 100%;
    grid-area: main;
    display: grid;
    grid-template: 1fr 100px auto/1fr;
    grid-template-areas: 
        "player"
        "playlist-name"
        "track-list";
    justify-items: center;
    align-items: center;
    
}

.footer{
    grid-area: footer;
}